@import "../scripts/vendor/bootstrap/dist/css/bootstrap.css";

.tmaShowCaseBody {
    margin: 50px auto;
}

.tmaShowCaseBody textarea,
.tmaShowCaseBody .output {
    width: 100%;
}

.tmaShowCaseBody .output {
    max-height: 300px;
    overflow: auto;
}

.tmaShowCaseBody button {
    min-width: 100px;
    margin-top: 8px;
}